<picture>
  <source 
    type="image/avif" 
    srcset="
      {{ .baseURL }}f_avif,q_auto,w_500/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 500w,
      {{ .baseURL }}f_avif,q_auto,w_710/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 710w,
      {{ .baseURL }}f_avif,q_auto,w_1000/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1000w,
      {{ .baseURL }}f_avif,q_auto,w_1420/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1420w">
  <source 
    type="image/webp"
    srcset="
      {{ .baseURL }}f_webp,q_auto,w_500/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 500w,
      {{ .baseURL }}f_webp,q_auto,w_710/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 710w,
      {{ .baseURL }}f_webp,q_auto,w_1000/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1000w,
      {{ .baseURL }}f_webp,q_auto,w_1420/{{ .Params.image | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1420w">
  <img 
    srcset="{{ .baseURL }}f_jpg,w_500/{{ .Params.image | replaceRE ".jpeg|.JPG|.png|.PNG" ".jpg" }} 500w,
      {{ .baseURL }}f_jpg,w_710/{{ .Params.image | replaceRE ".jpeg|.JPG|.png|.PNG" ".jpg" }} 710w,
      {{ .baseURL }}f_jpg,w_1000/{{ .Params.image | replaceRE ".jpeg|.JPG|.png|.PNG" ".jpg" }} 1000w,
      {{ .baseURL }}f_jpg,w_1420/{{ .Params.image | replaceRE ".jpeg|.JPG|.png|.PNG" ".jpg" }} 1420w"
    src="{{ .baseURL }}f_jpg,w_500/{{ .Params.image | replaceRE ".jpeg|.JPG|.png|.PNG" ".jpg" }}" 
    alt="{{ .Params.image_alt }}">
</picture>